<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConsultazioneUIUWebServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sigmater.regione.liguria.it/sigmater/webservices/ConsultazioneUIU"
                binding="basicHttpBinding" bindingConfiguration="ConsultazioneUIUWebServiceBinding"
                contract="MokaWS.ConsultazioneUIUWebService" name="ConsultazioneUIUWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>