<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="fActiveNotifyError" value="off" />
    <add key="UrlPortal" value="https://localhost/" />
    <add key="SmtpMailServer" value="" />
    <add key="SmtpPortMailServer" value="587" />
    <add key="SmtpTypeClient" value="SmtpGmailProvider" />
    <add key="SmtpMailUser" value="" />
    <add key="SmtpMailPassword" value="" />
    <add key="EmailFrom" value="" />
    <add key="EmailToError" value="" />
    <add key="EmailSubject" value="Criter - Catasto Regionale Impianti Termici Emilia-Romagna" />
    <!-- Parametri PEC -->
    <add key="PecSmtpServerHost" value="" />
    <add key="PecSmtpServerPort" value="465" />
    <add key="PecSmtpServerEmail" value="" />
    <add key="PecSmtpServerUsername" value="" />
    <add key="PecSmtpServerPassword" value="" />
    <!-- End Parametri PEC -->
    <add key="CommandTimeOutTime" value="120" />
    <add key="fEncryptQueryString" value="on" />
    <add key="VisibleNegativeResults" value="on" />
    <add key="fEncodedPwd" value="on" />
    <add key="dayExpired" value="180" />
    <add key="logonRetriesMax" value="5" />
    <add key="logonRetriesWindow" value="5" />
    <add key="minCharPwd" value="8" />
    <add key="LinkPageAttivazioneUtenza" value="IscrizioneCredenziali.aspx" />
    <add key="ReportRemoteURL" value="" />
    <add key="ReportPath" value="/CriterReport/" />
    <add key="EncryptionKey" value="" />
    <add key="EncryptionUsername" value="" />
    <add key="EncryptionPassword" value="" />
    <add key="CredentialsDomain" value="" />
    <add key="ReportViewerMessages" value="DataUtilityCore.CReportViewerCustomMessages, DataUtilityCore" />
    <add key="ReportNameTargaturaA4" value="TargaturaA4" />
    <add key="ReportNameTargaturaA7" value="TargaturaA7" />
    <add key="ReportNameTargaturaEtichetta" value="TargaturaEtichetta" />
    <add key="ReportNameBollinoA4" value="BolliniA4" />
    <add key="ReportNameBollinoA7" value="BolliniA7" />
    <add key="ReportNameBollinoEtichetta" value="BolliniEtichetta" />
    <add key="ReportNameLibrettiImpianti" value="LibrettoImpianto" />
    <add key="ReportNameRapportiControllo" value="RapportoControllo" />
    <add key="ReportNameSchedaIscrizione" value="Iscrizione" />
    <add key="ReportNameSchedaIscrizioneIspettore" value="IscrizioneIspettore" />
    <add key="ReportNameRicevutaPagamento" value="RicevutaPagamento" />
    <add key="ReportNameAccertamento" value="VerbaleAccertamento" />
        
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="PathDocument" value="E:\temp\" />
    <add key="UploadIscrizioneSoggetti" value="UploadIscrizioneSoggetti" />
    <add key="UploadTargatureImpianti" value="UploadTargatureImpianti" />
    <add key="UploadLibrettiImpianti" value="UploadLibrettiImpianti" />
    <add key="UploadRapportiControllo" value="UploadRapportiControllo" />
    <add key="UploadBolliniCalorePulito" value="UploadBolliniCalorePulito" />
    <add key="UploadRicevutePagamento" value="UploadRicevutePagamento" />
    <add key="UploadAccertamento" value="UploadAccertamento" />
    <add key="UploadIspezioni" value="UploadIspezioni" />
    <add key="UploadDismissioneGeneratori" value="UploadDismissioneGeneratori" />
    <add key="UploadContrattiIspettore" value="UploadContrattiIspettore" />
    <add key="UploadIspettori" value="UploadIspettori" />
    <add key="LinkRapporti" value="http://localhost/CriterPortal/UploadRapporti" />
    <add key="LinkLibrettiImpianti" value="http://localhost/Criter/CriterPortal/LibrettiImpianti" />
    
    <add key="SigmaterWsUrlConsultazioneUIU" value="" />
    <add key="SigmaterWsUsername" value="" />
    <add key="SigmaterWsPassword" value="" />
    <add key="MokaEnabled" value="on" />
    
    <add key="CostoBollino" value="1.75" />
    
    <add key="PathSalvataggioDati" value="PathSalvataggioDati" />
    <add key="LinkSalvataggioDati" value="http://localhost/CriterPortal/PathSalvataggioDati" />
    
    <add key="PayerCodiceUtente" value="" />
    <add key="PayerCodiceEnte" value="" />
    <add key="PayerTipologiaServizio" value="" />
    <add key="PayerPortaleID" value="SACE" />
    <add key="PayerIV" value="" />
    <add key="PayerKey" value="" />
    <add key="PayerUrlDiRitorno" value="Payer_Ritorno.aspx" />
    <add key="PayerUrlDiNotifica" value="Payer_Notifica.aspx" />
    <add key="PayerUrlBack" value="MNG_Portafoglio.aspx" />
    <add key="PayerUrlExtS2SRID" value="" />
    <add key="PayerUrlExtS2SPID" value="" />
    <add key="PayerUrlExtCart" value="" />
    <add key="DestinatariMailPerRicevutaPagamento" value="" />
    <add key="PayerPrefissoNumeroDocumento" value="" />
    <add key="PayerCommitNotifica" value="S" />
    <add key="PayerAbilitato" value="true" />
    <!-- AUTENTIFICAZIONE SPID -->
    <add key="SpidAbilitato" value="true" />
    <add key="UrlRequestSpidAzienda" value="" />
    <add key="UrlRequestSpidCittadino" value="" />
    <add key="KeyReverseProxySpid" value="" />
    <!-- Parametri ADRIER GATE -->
    <add key="AdriErWsUsername" value="" />
    <add key="AdriErWsPassword" value="" />
    <add key="AdriErAbilitato" value="false" />
    <!-- Parametri per eventuale Proxy -->
    <add key="ProxyAddress" value="" />
    <add key="ProxyUsername" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyEnabled" value="false" />
    <!-- Parametri Verifiche Ispettive -->
    <add key="IntervalloProssimoIspettoreMinuti" value="3" />
    <add key="NotificheIspezioniUsaEmailPec" value="true" />
    <add key="IntervalloNoFirmaLaiIspezioneMinuti" value="10" />
    <add key="IntervalloNoPianificazioneIspezioneMinuti" value="20" />
       
    <add key="ReportNameRevocaIntervento" value="RevocaInterventi" />
    <add key="ReportNameSchedaIscrizioneEnteLocale" value="IscrizioneEnteLocale" />
    <add key="ReportNameRapportoIspezione" value="RapportoIspezione" />
    <add key="ReportNameLetteraIncarico" value="LetteraIncarico" />
    <add key="ReportNameIspezionePianificazioneConferma" value="IspezionePianificazioneConferma" />
    <add key="ReportNameIspezioneAnnullamento" value="IspezioneAnnullamento" />
    <add key="ReportNameIspezionePianificazioneRipianificazione" value="IspezionePianificazioneRipianificazione" />
    <add key="ReportNameDisattivazioneGeneratore" value="DisattivazioneGeneratore" />
    <add key="ReportNameIspezioneCheckList" value="IspezioneCheckList" />
    <add key="ReportNameIspezioneNonEffettuata" value="IspezioneNonEffettuata" />
    <add key="ReportNameRevocaSanzione" value="RevocaSanzione" />
    
    <!-- Parametri Google -->
    <add key="GoogleApiKey" value="" />
    <add key="fDataIdealeIspezione" value="on" />
    <add key="ReportNameProgrammaIspezione" value="ProgrammaIspezione" />
    
    <add key="NTentativiPrivacy" value="3" />

    <add key="ReportNameAccertamentoIspezione" value="VerbaleAccertamentoIspezione" />
    <add key="ReportNameSanzione" value="VerbaleSanzione" />
    <add key="DaysScadenzaSanzione" value="30" />
    <add key="DaysScadenzaPagamentoRidottoSanzione" value="60" />    
    <add key="ReportNameProgrammaIspezioneVisiteIspettive" value="ProgrammaIspezioneVisiteIspettive" />
    <add key="UploadSanzioni" value="UploadSanzioni" />
    
    <add key="DataVariazioneCostoBollini" value="2022-10-01"/>
    
    <add key="ParerEnabled" value="true"/>
    <add key="ParerSystemSender" value=""/>
    <add key="ParerVersion" value=""/>
    <add key="ParerProfiloNormativoVersion" value=""/>
    <add key="ParerEndPoint" value=""/>
    <add key="ParerUsername" value=""/>
    <add key="ParerPassword" value=""/>
    <add key="ParerAmbiente" value=""/>
    <add key="ParerEnte" value=""/>
    <add key="ParerStruttura" value=""/>
    <add key="ParerTipoDocumento" value=""/>  
    
    <add key="CancellazioneLibrettiBozzaRevisionatiEnabled" value="false"/>
    <add key="DaysCancellazioneLibrettiBozzaRevisionati" value="30" />
    <add key="DaysEmailNotifyCancellazioneLibrettiBozzaRevisionati" value="15" />
              
    <add key="CancellazioneRctBozzaEnabled" value="false"/>
    <add key="DaysCancellazioneRctBozza" value="90" />
    <add key="DaysEmailNotifyCancellazioneRctBozza" value="15" />

    <add key="PecUfficioSanzioniRegione" value=""/>

    <!-- Parametri selezione ispettori-->
    <add key="NumeroIspettoriFasciaA" value="2"/>
    <add key="LunghezzaPeriodoConteggioVerificheMesi" value="3"/>
    <add key="DaysNotificaMancataChiusuraIspezione" value="2" />
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data source=;Initial Catalog=;uid=;password=;" providerName="System.Data.SqlClient" />
    <add name="CriterDataModel" connectionString="metadata=res://*/CriterDataModel.csdl|res://*/CriterDataModel.ssdl|res://*/CriterDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true" />
    <siteMap defaultProvider="SiteMapProvider" enabled="true">
      <providers>
        <add name="SiteMapProvider" siteMapFile="~/Web.sitemap" type="System.Web.XmlSiteMapProvider" />
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Printing.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.RichEdit.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxScheduler.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraScheduler.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v16.2.Web, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxTreeList.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Office.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.SpellChecker.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraGauges.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraGauges.v16.2.Presets, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGauges.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v16.2.Web, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPivotGrid.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.PivotGrid.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Spreadsheet.v16.2.Core, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxSpreadsheet.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxRichEdit.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxRichEdit.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="404" redirect="#" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="true" theme="DefaultTheme">
      <controls>
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <httpRuntime executionTimeout="999999" maxUrlLength="2097151" relaxedUrlToFileSystemMapping="true" maxQueryStringLength="2097151" maxRequestLength="1000000000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" requestValidationMode="4.0" targetFramework="4.5" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" verb="*" />
      <add verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" path="DX.ashx" validate="false" />
      <add verb="GET,POST" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <globalization uiCulture="it" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="it" />
        <sessionState mode="InProc" timeout="60" customProvider="DefaultSessionProvider">
          <providers>
            <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
          </providers>
        </sessionState>
        <authentication mode="Forms">
      <forms name="CriterCookie" timeout="60" cookieless="UseCookies" slidingExpiration="false" loginUrl="~/Login.aspx">
        <credentials passwordFormat="Clear" />
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="SqlServer">
      <providers>
        <clear />
        <add connectionStringName="CriterDataModel" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="SqlServer" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <profile defaultProvider="SqlServer">
      <providers>
        <add name="SqlServer" connectionStringName="CriterDataModel" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SqlServer">
      <providers>
        <clear />
        <add connectionStringName="CriterDataModel" applicationName="/" name="SqlServer" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <location path="api/CriterService">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Payer_Notifica.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Payer_Ritorno.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Iscrizione.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="IscrizioneConferma.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="IscrizioneCriter.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="IscrizioneDownload.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Manutentori.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="IscrizioneCredenziali.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="IscrizioneCredenzialiError.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="RecuperoCredenziali.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ErrorPage.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ElencoImpreseManutentriciAlbo.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ConfermaAccertamento.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ConfermaIspezione.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ConfermaIspezioneIncarico.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="LetteraIncaricoDownload.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1797783552" maxUrl="40960" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <httpProtocol />
    <directoryBrowse enabled="false" />
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Metropolis" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" accessibilityCompliant="false" checkReferencesToExternalScripts="false" protectControlState="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.12.0.0" newVersion="1.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    
      <dependentAssembly>
          <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>  
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding> 
        
        <!-- Adrier -->
        <binding name="RicercaImpreseSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="RicercaImpreseSoapBinding1" />
        <!-- // -->
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Adrier -->
      <endpoint address="https://adrier.lepida.it/AdriGate/services/RicercaImprese"
        binding="basicHttpBinding" bindingConfiguration="RicercaImpreseSoapBinding"
        contract="AdriGate.RicercaImprese" name="RicercaImprese" />
      <!-- // -->
    </client>
  </system.serviceModel>
</configuration>